.container-white {
    background-color: white;
    padding: 0;
}

/* HOME */
/************************/

/* Header */
.header-bg {
    background-color: #ffd02c;
    background-size: cover;
}

.header-logo {
    margin: 10% 0 2%;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    padding: 0;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
}

.bg-red {
    background-color: #d70a13;
    height: 60px;
    padding: 0 35px;
    border-radius: 3px;
}

.bg-blue {
    background-color: #2f4a90;
    height: 75px;
    padding: 6px 35px;
    border-radius: 3px;
}

.bg-green {
    background-color: #0ca06c;
    height: 65px;
    padding: 0 35px;
    border-radius: 3px;
}

/* Main content section */
.main-content {
    margin: 2% 0 5%;
    display: flex;
    justify-content: space-between;
}

.main-content-padding {
    padding-left: 0;
}

.card-title-link {
    color: white;
    text-align: center;
    font-weight: 600;
}

.card-body-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-link:hover {
    text-decoration: none;
    background-color: #ffd02c;
    transform: skew(-10deg, 0deg);
    font-style: normal;
    padding: 2%;
}

.card-bg {
    background-color: #0ca06c;
    border-radius: 5px;
}

.artist-card-bg {
    background-color: #2f4a90;
    border-radius: 5px;
}

.artist-card {
    background-color: white;
    margin: 2% 1%;
    display: inline-block;
    transform: skew(10deg, 0deg);
    font-style: italic;
    padding: 1%;
}

/* Testimonials section */
.testimonials {
    text-align: center;
    background-color: #ffd02c;
    border-radius: 5px;
    padding: 5% 0;
    margin: 5% 0;
    transform: skew(10deg, 0deg);
    font-style: italic;
}

.testimonials h2 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
}

.testimonials em {
    border-bottom: 2px solid #d70a13;
}

/* Sponsors section */
.sponsors-section {
    margin: 10% 0 13%;
}

.sponsors-section h3 {
    background-color: #2f4a90;
    padding: 1%;
    display: inline-block;
    transform: skew(10deg, 0deg);
    font-style: italic;
    color: white;
    font-weight: 600;
}

.sponsors-row {
    margin: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.sponsors-row img {
    width: 50%;
    height: 50%;
}

/* Call to Action section */
.cta-section {
    background-color: #0ca06c;
    margin: 8% 0 5%;
    border-radius: 5px;
    transform: skew(-10deg, 0deg);
    font-style: normal;
}

.cta-section h3 {
    color: white;
    padding: 3% 0 0;
    font-weight: bold;
}

.cta-section h4 {
    color: white;
    padding: 1% 0 0;
    font-weight: bold;
}

.cta-btn {
    margin: 3% 0 5%;
    padding: 1% 5%;
    transform: skew(10deg, 0deg);
    font-weight: 600;
    font-style: normal;
}

/* Newsletter section */
#newsletter-section {
    background-color: #2f4a90;
}

.newsletter-text {
    color: white;
    padding: 2% 11%;
}

.newsletter-text p {
    line-height: 2;
}

.name-input, .email-input {
    padding: 2% 1%;
    border-radius: 7px;
    margin:  4% 2% 5px;
    border: none;
}

.email-input {
    width: 63%;
}

.btn-subscribe {
    padding: 2% 24%;
    margin: 4% 0;
    border-width: 2px;
    color: white;
    border-color: white;
}

/* LINEUP */
/************************/
#lineup-page {
    background-color: #27A2FC;
}

.row-lineup {
    margin: 3% 0;
}

/* Lineup images */
.lineup-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #ffd02c
}

.lineup-img:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.lineup-text {
    background-color: #ffd02c;
    display: inline-block;
    padding: 1% 2%;
    transform: skew(-10deg, 0deg);
    font-weight: 600;
}

/* Buttons */
.lineup-btn {
    margin: 7% 2% 10%;
}


/* TICKETS */
/************************/
/* Ticket Heading */
#ticket-page h2 {
    background-color: #E8286B;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 2%;
    display: inline-block;
    width: 500px;;
}

/* Ticket cards */
.card {
    border: 1px solid #e3002a;
}

.card-deck {
    padding: 8% 0 4%;
}

/* Ticket text */
.text-position {
    padding: 5% 0 7%;
}

/* Home Button */
.btn-danger:hover {
    background-color: white;
    border-color: #E8286B;
    color: #E8286B;
}

.btn-position {
    padding: 10% 0;
}

/* Footer */
#footer {
    background-color: #ffd02c;
}
/* Social Media Icons  */
#social-icons, .copyright {
    display: flex;
    justify-content: center;
}

#social-icons a {
    padding: 1%;
    color: black;
}

.footer-content {
    padding: 1% 0;
}

/* ABOUT US */
/****************************/
#about-us-page {
    background-color: #0ca06c;
    background-size: cover;
}

/* About us Images */
.about-us-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0;
    border: 4px solid #ffd02c;
}

/* About us Title */
.about-us-title {
    background-color: #d70a13;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    padding: 1% 2%;
    display: inline-block;
    margin: 10% 2% 5%;
    transform: skew(10deg, 0deg);
    font-style: italic;
    font-weight: 600;
}

.about-us-row {
    margin: 2% 0 7%;
    padding-left: 3%;
}

.about-us-row p {
    line-height: 2;
    text-align: justify;
}

.highlight {
    background-color: #ffd02c;
    padding: 1% 0;
    display: inline-block;
    transform: skew(10deg, 0deg);
    font-style: italic;
}

/* FAQs */
.faq-title {
    margin: 0 2% 5%;
}

.faq-card {
    border: none;
}

.faq-card-header {
    background-color: white;
}

.faq-btn {
    background-color: #ffd02c;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    font-weight: 600;;
}

.fa-toggle {
    margin: 0 20px;
}

/* Ticket Button */
.au-ticket-btn {
    margin: 0 10% 10%;
    display: flex;
    justify-content: flex-end;
}

.btn-bold {
    font-weight: 600;
    padding: 1% 4%;
}

/* IMPRESSIONS */
/*************************/
#impressions-page {
    background-color: #27A2FC;
}

/* Ticket and Newsletter Buttons */
.cta-text {
    margin: 10% 0 0;
}

.impressions-btn {
    margin: 4% 2% 12%;
}

