.container-white {
    background-color: white;
    padding: 0;
}

/* HOME */
/************************/

/* Header */
.header-bg {
    background-image: url(/images/new-header-bg.jpg);
    background-size: cover;
    height: 390px;
}

.header-logo {
    margin: 2% 0 2% 10%;
    padding: 0;
}

.header-cta {
    margin: 35% 0 0 15%;
    text-align: center;
    display: inline-block;
}

.header-cta button {
    padding: 2% 8%;
}

/* Navigation Bar */
.navbar {
    padding: 0;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
}

.bg-red {
    background-color: #d70a13;
    height: 60px;
    padding: 0 35px;
    border-radius: 3px;
}

.bg-blue {
    background-color: #2f4a90;
    height: 75px;
    padding: 6px 35px;
    border-radius: 3px;
}

.bg-green {
    background-color: #0ca06c;
    height: 65px;
    padding: 0 35px;
    border-radius: 3px;
}

/* Main content section */
.main-content {
    margin: 2% 0 5%;
    display: flex;
    justify-content: space-between;
}

.main-content-padding {
    padding-left: 0;
}

.card-title-link {
    color: white;
    text-align: center;
    font-weight: 600;
}

.card-body-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-link:hover {
    text-decoration: none;
    background-color: #ffd02c;
    transform: skew(-10deg, 0deg);
    font-style: normal;
    padding: 2%;
}

.card-bg {
    background-color: #0ca06c;
    border-radius: 5px;
}

.artist-card-bg {
    background-color: #2f4a90;
    border-radius: 5px;
}

.artist-card {
    background-color: white;
    margin: 2% 1%;
    display: inline-block;
    transform: skew(10deg, 0deg);
    font-style: italic;
    padding: 1%;
}

/* Testimonials section */
.testimonials {
    text-align: center;
    background-color: #ffd02c;
    border-radius: 5px;
    padding: 5% 0;
    margin: 5% 0;
    transform: skew(10deg, 0deg);
    font-style: italic;
}

.testimonials h2 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
}

.testimonials em {
    border-bottom: 2px solid #d70a13;
}

/* Sponsors section */
.sponsors-section {
    margin: 10% 0 13%;
}

.sponsors-section h3 {
    background-color: #2f4a90;
    padding: 1%;
    display: inline-block;
    transform: skew(10deg, 0deg);
    font-style: italic;
    color: white;
    font-weight: 600;
}

.sponsors-row {
    margin: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.sponsors-row img {
    width: 50%;
    height: 50%;
}

/* Call to Action section */
.cta-section {
    background-color: #0ca06c;
    margin: 8% 0 5%;
    border-radius: 5px;
    transform: skew(-10deg, 0deg);
    font-style: normal;
}

.cta-section h3 {
    color: white;
    padding: 3% 0 0;
    font-weight: bold;
}

.cta-section h4 {
    color: white;
    padding: 1% 0 0;
    font-weight: bold;
}

.cta-btn {
    margin: 3% 0 5%;
    padding: 1% 5%;
    transform: skew(10deg, 0deg);
    font-weight: 600;
    font-style: normal;
}

/* Newsletter section */
#newsletter-section {
    background-color: #2f4a90;
}

.newsletter-text {
    color: white;
    padding: 2% 11%;
}

.newsletter-text p {
    line-height: 2;
}

.name-input, .email-input {
    padding: 2% 1%;
    border-radius: 7px;
    margin:  4% 2% 5px;
    border: none;
}

.email-input {
    width: 63%;
}

.btn-subscribe {
    padding: 2% 24%;
    margin: 4% 0;
    border-width: 2px;
    color: white;
    border-color: white;
}

/* LINEUP */
/************************/
#lineup-page {
    background-color: #0ca06c;
}

.row-lineup {
    margin: 3% 0;
}

/* Lineup images */
.lineup-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}

.lineup-img:hover{
    opacity: .4; 
}

.lineup-text {
    background-color: #ffd02c;
    display: inline-block;
    padding: 1% 2%;
    transform: skew(-10deg, 0deg);
    font-weight: 600;
}

/* Buttons */
.lineup-btn {
    margin: 7% 2% 10%;
}


/* TICKETS */
/************************/
/* Ticket cards */
#ticket-page {
    background-color: #2f4a90;
}

.card-ticket {
    border: none;
}

.card-deck {
    padding: 8% 0 4%;
}

/* Ticket Image */
.card-img-top {
    border-radius: 15%;
}

/* Ticket text */
.text-position {
    padding: 5% 0 7%;
}

/* Ticket Button */
.purchase-btn {
    border-radius: 5px;
    background-color: #0ca06c;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border: none;
}

.purchase-btn:hover {
    background-color: white;
    color: #0ca06c;
    border: 1px solid #0ca06c;
}

/* Home Button */
.btn-danger:hover {
    background-color: white;
    border-color: #d70a13;
    color: #d70a13;
}

.btn-position {
    padding: 2% 0 10%;
}

/* Footer */
#footer {
    background-color: #ffd02c;
}
/* Social Media Icons  */
#social-icons, .copyright {
    display: flex;
    justify-content: center;
}

#social-icons a {
    padding: 1%;
    color: black;
}

.footer-content {
    padding: 1% 0;
}

/* ABOUT US */
/****************************/
#about-us-page {
    background-color: #d70a13;
    background-size: cover;
}

/* About us Images */
.about-us-img {
    width: 500px;
    height: 350px;
    border-radius: 20%;
    padding: 0;
}
/* or 100% for both width and height */

/* About us Title */
.about-us-title {
    background-color: #d70a13;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    padding: 1% 2%;
    display: inline-block;
    margin: 6% 2% 4%;
    transform: skew(10deg, 0deg);
    font-style: italic;
    font-weight: 600;
}

.about-us-heading {
    background-color: #0ca06c;
}

.about-us-row {
    margin: 2% 0 7%;
    padding-left: 3%;
}

.about-us-row p {
    line-height: 2;
    text-align: justify;
    margin-right: 15%;
}

.highlight {
    background-color: #ffd02c;
    padding: 1% 0;
    display: inline-block;
    transform: skew(10deg, 0deg);
    font-style: italic;
}

/* FAQs */
.faq-title {
    margin: 0 4% 5%;
    background-color: #0ca06c;
}

.faq-card {
    border: none;
}

.faq-card-header {
    background-color: white;
}

.faq-btn {
    background-color: #ffd02c;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    font-weight: 600;;
}

.fa-toggle {
    margin: 0 20px;
}

/* Ticket Button */
.au-ticket-btn {
    margin: 0 10% 10%;
    display: flex;
    justify-content: flex-end;
}

.btn-bold {
    font-weight: 600;
    padding: 1% 4%;
}

/* IMPRESSIONS */
/*************************/
#impressions-page {
    background-color: #0ca06c;
}

.photos-text {
    font-weight: 600;
    line-height: 2;
    width: 90%;
    margin-left: 4%;
}

/* Carousel */
.impressions-year {
    background-color: #2f4a90;
    color: white;
    display: inline-block;
    padding: 1% 2%;
    transform: skew(-10deg, 0deg);
    margin: 5% 0 2% 10%;
    font-weight: 600;
}

.carousel-content {
    display: flex;
    justify-content: center;
}

.carousel-resize {
    width: 80%;
    border-radius: 15px;
    height: 350px;
    margin: 0 auto;
}

.impressions-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

/* Ticket and Newsletter Buttons */
.cta-text {
    margin: 10% 0 0;
}

.impressions-btn {
    margin: 4% 2% 12%;
}

